<div class="min-h-screen">
    <!-- Main Card -->
    <div class="mx-auto overflow-hidden">
  
      <!-- Header Section -->
      <div class="flex items-center gap-3 shrink-0 pb-4">
        <div class="h-10 w-10 rounded-lg bg-[var(--text-active)]
                     flex items-center justify-center text-white shadow-sm shrink-0">
          <i class="ri-ticket-line dsr-nav-nav-icon"></i>
        </div>
        <div>
          <h1 class="text-lg sm:text-xl font-bold text-slate-900 leading-tight">
            Tickets
          </h1>
          <p class="text-xs sm:text-sm text-slate-500">
            View and manage all Tickets.
          </p>
        </div>
      </div>
  
  
      <!-- Content Body with Tabs -->
      <div class="bg-white px-6 pb-6">
  
        <!-- Tabs Bar -->
        <div class="flex items-center border-b border-gray-200 mb-6">
          <div class="flex gap-6 text-m font-medium text-gray-500 h-12 items-center">
            <button *ngFor="let tab of tabs" class="h-full border-b-2 whitespace-nowrap px-1" [ngClass]="activeProjectTab === tab.id
                ? 'border-[var(--text-active)] text-[var(--text-active)] font-semibold'
                : 'border-transparent hover:text-[var(--text-active)] hover:border-gray-300'"
              (click)="setActiveTab(tab.id)">
              {{ tab.label }}
            </button>
          </div>
        </div>
  
        <!-- Content Switching -->
        <div class="bg-slate-50 rounded-xl border border-slate-100 p-2">
          <ng-container [ngSwitch]="activeProjectTab">
            <div *ngSwitchCase="'raisedtickets'" class="h-full">
              <app-tickets [isRaisedTickets]="true"></app-tickets>
            </div>
            <div *ngSwitchCase="'overalltickets'" class="h-full">
              <app-tickets [isRaisedTickets]="false"></app-tickets>
            </div>
            <div *ngSwitchCase="'clients'" class="h-full">
              <app-clients></app-clients>
            </div>
              <div *ngSwitchCase="'products'" class="h-full">
              <app-products></app-products>
            </div>
          </ng-container>
        </div>
  
      </div>
  
    </div>
  </div>